@import url(https://fonts.googleapis.com/css?family=BenchNine:400,700,300&subset=latin,latin-ext);

body { background: transparent; margin: 0px auto; overflow: hidden; }

html, body {
  margin: 0;
  padding: 0;
}

#widget, #body, #alert-box, #wrap, #alert-text-wrap, #alert-text{
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  opacity: 1;
}

#alert-box.hidden, .hidden {
  opacity: 1;
}

#line, #mainText, #subText {
  display: block;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bold;
  font-style: italic;
  font-family: "BenchNine", sans-serif;
  color: #fff;
  white-space: nowrap;
}

#line {
  width: 0;
  height: 0;
  top: 500px;
  left: 50%;
  margin-left: 0;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  opacity: 0;
  background-color: rgba(132, 1, 160, 0.5);
  -webkit-animation: lineIn 0.2s .6s forwards,
             lineGrow 0.4s 1s forwards,
             linehide 0.5s 6.7s forwards;
          animation: lineIn 0.2s .6s forwards,
             lineGrow 0.4s 1s forwards,
             linehide 0.5s 6.7s forwards;
}
.special {
  background-color: rgba(121, 97, 255, 0.6) !important;
}

@-webkit-keyframes lineIn {
  0% {width: 0; height: 0;}
  100% {width: 2200px; margin-left: -1100px; opacity: 1; height: 3px;}
}

@keyframes lineIn {
  0% {width: 0; height: 0;}
  100% {width: 2200px; margin-left: -1100px; opacity: 1; height: 3px;}
}

@-webkit-keyframes lineGrow {
  0% {}
  100% {height: 200px; top: 400px;}
}

@keyframes lineGrow {
  0% {}
  100% {height: 200px; top: 400px;}
}

@-webkit-keyframes linehide {
  0% {height: 200px; top: 400px;}
  100% {height: 0px; top: 500px;}
}

@keyframes linehide {
  0% {height: 200px; top: 400px;}
  100% {height: 0px; top: 500px;}
}


#mainText {
  font-size: 100px;
  width: 2200px;
  line-height: 100px;
  text-indent: -3000px;
  top: 30px;
  opacity: 0;
  -webkit-animation: textIn 0.4s 1.4s forwards,
             textTravel 4.6s 1.8s linear forwards;
          animation: textIn 0.4s 1.4s forwards,
             textTravel 4.6s 1.8s linear forwards;
}

@-webkit-keyframes textIn {
  0% {text-indent: -3000px;opacity: 1;}
  100% {text-indent: -20px;opacity: 1;}
}

@keyframes textIn {
  0% {text-indent: -3000px;opacity: 1;}
  100% {text-indent: -20px;opacity: 1;}
}

@-webkit-keyframes textTravel {
  0% {text-indent: -20px;}
  90% {text-indent: 20px;}
  95% {text-indent: 3000px;}
  100% {text-indent: 3000px;}
}

@keyframes textTravel {
  0% {text-indent: -20px;}
  90% {text-indent: 20px;}
  95% {text-indent: 3000px;}
  100% {text-indent: 3000px;}
}

#subText {
  font-size: 40px;
  width: 2200px;
  line-height: 40px;
  text-indent: 3000px;
  bottom: 30px;
  opacity: 0;
  -webkit-animation: tagIn 0.4s 1.4s forwards,
             tagTravel 4.6s 1.8s linear forwards;
          animation: tagIn 0.4s 1.4s forwards,
             tagTravel 4.6s 1.8s linear forwards;
}
#subText b {
  color: yellow;
}

@-webkit-keyframes tagIn {
  0% {text-indent: 3000px;opacity: 1;}
  100% {text-indent: 20px;opacity: 1;}
}

@keyframes tagIn {
  0% {text-indent: 3000px;opacity: 1;}
  100% {text-indent: 20px;opacity: 1;}
}

@-webkit-keyframes tagTravel {
  0% {text-indent: 20px;}
  90% {text-indent: -20px;}
  95% {text-indent: -3000px;}
  100% {text-indent: -3000px;}
}

@keyframes tagTravel {
  0% {text-indent: 20px;}
  90% {text-indent: -20px;}
  95% {text-indent: -3000px;}
  100% {text-indent: -3000px;}
}


/* Without animations */
.without * {
  -webkit-animation: none;
}
.without #line {
  top: 300px;
  height: 200px;
  width: 2200px;
  margin-left: -1100px;
  opacity: 1;
}
.without #mainText {
  text-indent: 20px;
  opacity: 1;
}
.without #subText {
  text-indent: 20px;
  opacity: 1;
}