@import url(https://fonts.googleapis.com/css?family=BenchNine:400,700,300&subset=latin,latin-ext);
@-webkit-keyframes sonar-base {
  from {
    padding: 0;
    opacity: 0.6; }
  to {
    /* 1.3em */
    padding: 1.3em;
    opacity: 0;
    top: -1.3em;
    left: -1.3em; } }
@-moz-keyframes sonar-base {
  from {
    padding: 0;
    opacity: 0.6; }
  to {
    padding: 1.3em;
    opacity: 0;
    top: -1.3em;
    left: -1.3em; } }
@-o-keyframes sonar-base {
  from {
    padding: 0;
    opacity: 0.6; }
  to {
    padding: 1.3em;
    opacity: 0;
    top: -1.3em;
    left: -1.3em; } }
@keyframes sonar-base {
  from {
    padding: 0;
    opacity: 0.6; }
  to {
    padding: 8em;
    opacity: 0;
    top: -5em;
    left: -5em; } }
@-webkit-keyframes sonar-stroke {
  from {
    border-width: 0.4em;
    margin: -0.4em; }
  to {
    border-width: 0.1em;
    top: -1.3em;
    left: -1.3em; } }
@-moz-keyframes sonar-stroke {
  from {
    border-width: 0.4em;
    margin: -0.4em; }
  to {
    border-width: 0.1em;
    top: -1.3em;
    left: -1.3em; } }
@-o-keyframes sonar-stroke {
  from {
    border-width: 0.4em;
    margin: -0.4em; }
  to {
    border-width: 0.1em;
    top: -1.3em;
    left: -1.3em; } }
@keyframes sonar-stroke {
  from {
    border-width: 0.4em;
    margin: -0.4em; }
  to {
    border-width: 0.1em;
    top: -8em;
    left: -8em; } }
.sonar {
  position: relative; }

.sonar:after {
  z-index: -1;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  -webkit-animation-name: sonar-base;
  -moz-animation-name: sonar-base;
  -o-animation-name: sonar-base;
  animation-name: sonar-base;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.sonar.sonar-infinite:after {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.sonar.sonar-delay:after {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

.sonar.sonar-delay-long:after {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s; }

.sonar.sonar-delay-longer:after {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s; }

.sonar.sonar-delay-short:after {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.sonar.sonar-delay-shorter:after {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.sonar.sonar-slow:after {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.sonar.sonar-stroke:after {
  border-width: 0;
  border-color: inherit;
  border-style: solid;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-animation-name: sonar-base, sonar-stroke;
  -moz-animation-name: sonar-base, sonar-stroke;
  -o-animation-name: sonar-base, sonar-stroke;
  animation-name: sonar-base, sonar-stroke; }

.sonar.sonar-stroke.sonar-hover:after {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none; }

.sonar.sonar-stroke.sonar-hover.sonar-default:after {
  border-color: #555555; }

.sonar.sonar-stroke.sonar-hover.sonar-primary:after {
  border-color: #337ab7; }

.sonar.sonar-stroke.sonar-hover.sonar-info:after {
  border-color: #5bc0de; }

.sonar.sonar-stroke.sonar-hover.sonar-success:after {
  border-color: #5cb85c; }

.sonar.sonar-stroke.sonar-hover.sonar-warning:after {
  border-color: #f0ad4e; }

.sonar.sonar-stroke.sonar-hover.sonar-danger:after {
  border-color: #d9534f; }

.sonar.sonar-stroke.sonar-hover:hover:after {
  -webkit-animation-name: sonar-base, sonar-stroke;
  -moz-animation-name: sonar-base, sonar-stroke;
  -o-animation-name: sonar-base, sonar-stroke;
  animation-name: sonar-base, sonar-stroke; }

.sonar.sonar-stroke.sonar-click:after {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none; }

.sonar.sonar-stroke.sonar-click:focus:after {
  -webkit-animation-name: sonar-base, sonar-stroke;
  -moz-animation-name: sonar-base, sonar-stroke;
  -o-animation-name: sonar-base, sonar-stroke;
  animation-name: sonar-base, sonar-stroke; }

.sonar.sonar-fill:after {
  border: none;
  background: inherit;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-animation-name: sonar-base;
  -moz-animation-name: sonar-base;
  -o-animation-name: sonar-base;
  animation-name: sonar-base; }

.sonar.sonar-fill.sonar-default:after {
  background-color: #555555; }

.sonar.sonar-fill.sonar-primary:after {
  background-color: #337ab7; }

.sonar.sonar-fill.sonar-info:after {
  background-color: #5bc0de; }

.sonar.sonar-fill.sonar-success:after {
  background-color: #5cb85c; }

.sonar.sonar-fill.sonar-warning:after {
  background-color: #f0ad4e; }

.sonar.sonar-fill.sonar-danger:after {
  background-color: #d9534f; }

.sonar.sonar-fill.sonar-hover:after {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none; }

.sonar.sonar-fill.sonar-hover:hover:after {
  -webkit-animation-name: sonar-base;
  -moz-animation-name: sonar-base;
  -o-animation-name: sonar-base;
  animation-name: sonar-base;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.sonar.sonar-fill.sonar-click:after {
  -webkit-animation-name: none;
  -moz-animation-name: none;
  -o-animation-name: none;
  animation-name: none; }

.sonar.sonar-fill.sonar-click:focus:after {
  -webkit-animation-name: sonar-base;
  -moz-animation-name: sonar-base;
  -o-animation-name: sonar-base;
  animation-name: sonar-base;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s; }

@-moz-keyframes move-right {
  from {
    left: -100%; }
  to {
    left: 0; } }
@-webkit-keyframes move-right {
  from {
    left: -100%; }
  to {
    left: 0; } }
@-o-keyframes move-right {
  from {
    left: -100%; }
  to {
    left: 0; } }
@-ms-keyframes move-right {
  from {
    left: -100%; }
  to {
    left: 0; } }
@keyframes move-right {
  from {
    left: -100%; }
  to {
    left: 0; } }
@-moz-keyframes move-left {
  from {
    left: 0; }
  to {
    left: -100%; } }
@-webkit-keyframes move-left {
  from {
    left: 0; }
  to {
    left: -100%; } }
@-o-keyframes move-left {
  from {
    left: 0; }
  to {
    left: -100%; } }
@-ms-keyframes move-left {
  from {
    left: 0; }
  to {
    left: -100%; } }
@keyframes move-left {
  from {
    left: 0; }
  to {
    left: -100%; } }
@-moz-keyframes move-down {
  from {
    top: 0; }
  to {
    top: 50%; } }
@-webkit-keyframes move-down {
  from {
    top: 0; }
  to {
    top: 50%; } }
@-o-keyframes move-down {
  from {
    top: 0; }
  to {
    top: 50%; } }
@-ms-keyframes move-down {
  from {
    top: 0; }
  to {
    top: 50%; } }
@keyframes move-down {
  from {
    top: 0; }
  to {
    top: 50%; } }
@-moz-keyframes fades-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fades-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fades-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fades-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fades-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fades-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fades-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fades-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-ms-keyframes fades-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fades-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes spinning-image {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spinning-image {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes spinning-image {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes spinning-image {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinning-image {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes finished-follow {
  from {
    top: 50px; }
  to {
    top: -200px; } }
@-webkit-keyframes finished-follow {
  from {
    top: 50px; }
  to {
    top: -200px; } }
@-o-keyframes finished-follow {
  from {
    top: 50px; }
  to {
    top: -200px; } }
@-ms-keyframes finished-follow {
  from {
    top: 50px; }
  to {
    top: -200px; } }
@keyframes finished-follow {
  from {
    top: 50px; }
  to {
    top: -200px; } }
body {
  background: #222 url(../images/sample-screen.jpg);
  background-size: cover;
  margin: 0px auto;
  overflow: hidden; }

html, body {
  margin: 0;
  padding: 0; }

#widget, #body, #alert-box, #wrap, #alert-text-wrap, #alert-text {
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  opacity: 1; }

#alert-box.hidden, .hidden {
  opacity: 1; }

#follow {
  display: block;
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "BenchNine", sans-serif;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: fades-in 1.5s 0.1s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards, fades-out 0.8s 6.6s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards;;
  -moz-animation: fades-in 1.5s 0.1s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards, fades-out 0.8s 6.6s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards;;
  -ms-animation: fades-in 1.5s 0.1s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards, fades-out 0.8s 6.6s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards;;
  -o-animation: fades-in 1.5s 0.1s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards, fades-out 0.8s 6.6s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards;;
  animation: fades-in 1.5s 0.1s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards, fades-out 0.8s 6.6s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards;; }

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  line-height: 250px;
  background: rgba(0, 0, 0, 0.35) url("../images/sqee-logo.png") no-repeat center center;
  background-size: 60% 60%;
  -webkit-animation: spinning-image 1s 5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -moz-animation: spinning-image 1s 5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -ms-animation: spinning-image 1s 5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -o-animation: spinning-image 1s 5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  animation: spinning-image 1s 5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;; }

#info {
  display: block;
  width: 300px;
  height: 63px;
  position: absolute;
  left: 150px;
  top: 50%;
  margin-left: 15px;
  margin-top: -25%;
  text-align: left;
  overflow: hidden; }

#info * {
  display: block; }

#info strong {
  position: absolute;
  left: -100%;
  max-width: 92%;
  text-overflow: ellipsis;
  font-size: 25px;
  font-weight: 400;
  height: 31px;
  line-height: 32px;
  padding: 0 10px;
  background-color: #277CFB;
  overflow: hidden;
  -webkit-animation: move-right 1.5s 1s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -moz-animation: move-right 1.5s 1s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -ms-animation: move-right 1.5s 1s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -o-animation: move-right 1.5s 1s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  animation: move-right 1.5s 1s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;; }

#info em {
  position: absolute;
  top: 0;
  left: -100%;
  height: 31px;
  line-height: 32px;
  font-size: 23px;
  font-style: normal;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: move-right 1s 2.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-down 0.4s 3.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -moz-animation: move-right 1s 2.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-down 0.4s 3.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -ms-animation: move-right 1s 2.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-down 0.4s 3.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  -o-animation: move-right 1s 2.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-down 0.4s 3.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;;
  animation: move-right 1s 2.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-down 0.4s 3.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 6s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;; }

.sonar-stroke:after {
  border-color: #277CFB !important; }
