// Remove background for production
body { background: url(../images/sample-screen.jpg); }

@import 'mixins.scss';
@import 'sonar.scss';

@import url(https://fonts.googleapis.com/css?family=BenchNine:400,700,300&subset=latin,latin-ext);

$main-color: #277CFB; //rgba(208, 0, 220, 0.8)
$transparent-black: rgba(0, 0, 0, 0.5);

@include keyframes (move-right) {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@include keyframes (move-left) {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@include keyframes (move-down) {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}
@include keyframes (fades-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include keyframes (fades-out) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@include keyframes (spinning-image) {
  from {
    @include vendor-prefix('transform', 'rotate(0)');
  }
  to {
    @include vendor-prefix('transform', 'rotate(360deg)');
  }
}
@include keyframes (finished-follow) {
  from {
    top: 50px;
  }
  to {
    top: -200px;
  }
}

body {
  background-size: cover;
  margin: 0px auto;
  overflow: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

#widget, #body, #alert-box, #wrap, #alert-text-wrap, #alert-text {
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
  opacity: 1;
}

#alert-box.hidden, .hidden {
  opacity: 1;
}

#follow {
  display: block;
  position: absolute;
  left: 50px;
  top: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 20px;
  font-weight: 300;
  font-family: "BenchNine", sans-serif;
  color: #fff;
  white-space: nowrap;
  opacity: 0;

  @include vendor-prefix('animation', 'fades-in 1.5s 0.1s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards, fades-out 0.8s 9.6s cubic-bezier(1.000, 0.005, 1.000, 0.325) forwards;');
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  line-height: 250px;
  background: rgba(0, 0, 0, 0.35) url("http://uploads.twitchalerts.com/000/025/613/824/logo-transparent.png") no-repeat center center;
  background-size: 80% 80%;

  @include vendor-prefix('animation', 'spinning-image 1s 8s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;');
}
#info {
  display: block;
  width: 300px;
  height: 63px;
  position: absolute;
  left: 150px;
  top: 50%;
  margin-left: 15px;
  margin-top: -25%;
  text-align: left;
  overflow: hidden;
}
#info * {
  display: block;
}
#info strong {
  position: absolute;
  left: -100%;

  max-width: 92%;
  text-overflow: ellipsis;
  font-size: 25px;
  font-weight: 400;
  height: 31px;
  line-height: 32px;
  padding: 0 10px;
  background-color: $main-color;
  overflow: hidden;

  @include vendor-prefix('animation', 'move-right 1.5s 1s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 9s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;');
}
#info em {
  position: absolute;
  top: 0;
  left: -100%;

  height: 31px;
  line-height: 32px;
  font-size: 23px;
  font-style: normal;
  padding: 0 10px;
  background-color: $transparent-black;

  @include vendor-prefix('animation', 'move-right 1s 2.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-down 0.4s 3.5s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards, move-left 1s 9s cubic-bezier(1.000, 0.005, 0.520, 1.000) forwards;');
}

.sonar-stroke:after {
  border-color: $main-color !important;
}
